@media (max-width: 1250px){
    .advantages__image{
        width: 40%;
    }
}

@media (max-width: 1140px){
    .rent__inner{
        flex-wrap: wrap;
        justify-content: space-around;
        
    }
    .rent__content{
        width: 100%;
        margin-bottom: 30px;
    }

    .rent__item{
        margin: 20px;
    }
}
@media (max-width: 1000px){
    .top__heading{
        display: block;
    }
    .top__content{
        width: 100%;
    }
    .top__slider{
        width: 100%;
    }
    .top__bottom{
        display: block;
    }
    .top__links{
        padding-right: 0;
        padding-top: 50px;
        text-align: center;

    }
    .top__items{
        width: 100%;
    }

    .advantages__content{
        width: 100%;
        margin-top: 30px;
        text-align: center;
    }

    .advantages__items{
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .advantages__text + .advantages__text{
        width: 100%;
    }

    .footer .menu{
        display: none;
    }
}


@media (max-width: 860px){
    .menu{
        order: 1;
    }

    .menu__list{
        display: block;
        position: absolute;
        top: 100px;
        left: 0;
        background-color: #332208;
        right: 0;
        text-align: center;
        padding: 20px 0;
        transform: translateY(-500px);
        transition: all .5s;
    }

    

    .menu__list.menu__list--active{
        transform: translateY(0);
  }

    .menu__list-link{
        padding: 20px 0px;
        display: block;
    }

    .menu__btn{ /*burger*/
        display: block;
        cursor: pointer;
        width: 30px;
        height: 25px;
        border: none;
        border-top: 3px solid #fefefe;
        border-bottom: 3px solid #fefefe;
        background-color: transparent;
        position: relative;
    }
    .menu__btn::before{
        content: '';
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: #fefefe;
        left: 0;
        top: 8px;
    }

    .feedback__images{
        display: none;
    }

    .footer,
    .feedback,
    .reviews,
    .advantages,
    .rent{
        padding: 50px 0; 
    }
}

@media (max-width: 650px) {
    .rent__item {
        width: 100%;
        min-height: 245px;
    }
    .rent__item-title{
        margin-bottom: 20px;
    }

    .rent__content{
        text-align: center;
    }
}

@media (max-width: 525px){
    .top__items{
        flex-wrap: wrap;
    }

    .top__item{
        margin: 20px;
    }

    .top__slider-text{
        padding-right: 0;
    }

    .advantages__image{
        width: 70%;
    }

    .advantages__list-item{
        margin-right: 0;
        text-align: left;
        padding-right: 0;
        padding-left: 26px;
       
    }

    .advantages__list-item::after{
        right: auto;
        left: 0;
    }

}

@media (max-width: 450px){
    .footer__top{
        flex-direction: column;
        align-items: center;
    }

    .footer .phone{
        margin-top: 30px;
        display: inline-block;
    }

}


@media (max-width: 410px){
    .top__item{
        width: 100%;
    }
    .top__links{
        text-align: center;
    }

    .top__link{
        margin: 10px 15px;
        display: inline-block;
    }
    
    .top__link + .top__link{
        margin-left: 0;
    }

    .top__slider-text{
        text-align: center;
        
    }

    .top__slider-text span{
        display: block;
        margin: 10px 0px;
        
    }

    .rent__item{
        margin: 30px 0;
    }
}

@media (max-width: 320px)